.products-item {
    &--ad {
        max-width: 350px;   // padding + width of ad image
    }

    &--ad &__media {
        height: auto;
        line-height: 1;
        margin-bottom: 0;

        img {
            width: 100%;
        }
    }
}