@import '~styles/utils/variables';

.products-grid {
    position: relative;
    min-height: 200px;
    padding-bottom: 20px;
    margin-left: -($spacing-half);
    margin-right: -($spacing-half);
    text-align: center;
    transition: padding 250ms ease-out;

    &.isAppending {
        padding-bottom: 100px;

        .loader {
            top: 100%;
            margin-top: -150px;
        }
    }
}